html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
}

.bottom {
    margin: 30px 40px;
}

#clearbtn {
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-left: 15px;
    transition: all .2s;
}

#clearbtn:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.tmain {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newlistname {
    margin-right: 10px;
    width: 180px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: .9em;
}

.fa-plus {
    font-size: 1.4em;
    padding: 5px;
    transition: all .2s;
}

.fa-plus:hover {
    color: green;
    cursor: pointer;
}

.fa-times {
    color: #afafaf;
    transition: all .2s;
}

.fa-times:hover {
    color: red;
    cursor: pointer;
}

.fa-check {
    transition: all .2s;
    font-size: .8em;
}

.fa-check:hover {
    color: orange;
    cursor: pointer;
}

.lists {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.list {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.header {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
}

.listtitleholder {
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listtitle {
    font-size: 1.5em;
}

.itemholder {
    border: 1px solid #afafaf;
    border-top: none;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 350px;
    justify-content: space-between;
}

.itemname {
    margin: 0 10px;
    font-size: 1.3em;
    border-bottom: 1px solid #AFAFAF;
    width: 100%;
}

.timeslistname {
    margin-right: 10px;
    font-size: 1.4em;
    color: #afafaf;
}

@media screen and (max-width: 400px) {
    .bottom {
        margin: 0;
    }

    .list {
        width: 360px;
    }

    .listtitleholder {
        width: 340px;
    }

    .item {
        width: 315px;
    }
}